body {

	background: url(http://images.unsplash.com/photo-1487111094912-921182c44b79?ixlib=rb);
	background-size: cover;
	color: white;
	padding-top: 50px;
	font-family: 'Merriweather', serif;
}
html {
	height:100%;
}
.indextxt {

  text-align:center;

}
.i-am-centered-row { margin: auto; max-width: 800px;}
.navbar .navbar-colour .navbar-fixed-top {
  background-color: #2c3e50;
  border-color:  #2c3e50;
}


.jumbotron {
	color: black;
	padding-top: 35px;
    margin-bottom: 0px;
    background: rgba(255, 238, 210, 0.9);
}
.frontimg { 
  display: block;
  max-width: 70%;
  height: auto;
	    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle }

}

#content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.2),,
				 0px 18px 23px rgba(0,0,0,0.4),

}

h1 {
	font-size: 5em;
	font-weight: 700;
}


.starfsfolk {
  padding-top: 40px;
}
hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.4);
}

li .active {
	background:#2c3e50;
}
.footer {
	background:white;
	height: 50px
}

.footer-left {
   color: black;
   text-align: center;
   padding-top: 10px
}

.footer-center {
  text-align: center;
  color: black;
  padding-top: 10px

  
}
.footer-right {
  text-align: center;
  color: black;
  padding-top: 10px
}

}

.navbar .navbar-colour .navbar-fixed-top {
  background-color: #2c3e50;
  border-color:  #2c3e50;
}
.navbar-inverse {
  background-color: #2c3e50;
  color: white ;

}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-colour .navbar-nav>li>a {
	color:white;
}

.navbar-brand {
  padding: 5px; /* firefox bug fix */
}
.navbar-brand>img {
      max-height: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
  
}

.navbar-header {
	color: black;
	padding-top: 10px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}